body {
	margin: auto;
	margin-left: 30%;
	margin-right: 30%;

	text-align: center;
	background-color: #e2eee4;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#top {
	align-items: center;
	display: flex;
	justify-content: center;
}

#top > img {
	height: 100px;
	width: 100px;
	display: inline-block;
}

#top > h1 {
	font-size: 50px;
	display: inline-block;
}

#main {
	height: 100%;
	width: 100%;

	align-items: center;
	justify-content: flex-end;
	align-content: start;
	display: inline-flex;
	overflow: visible;
	border: 1px solid black;
}

#main > img {
	margin: auto;
	transition: ease-out 0.3s;
	height: 10%;
	width: 10%;
}

#main > img:hover {
	height: 20%;
	width: 20%;
}