body {
	margin: auto;
	margin-left: 30%;
	margin-right: 30%;

	transition: ease-in .3s;
	
	text-align: center;
	background-color: #e2eee4;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top {
	align-items: center;
	display: flex;
	justify-content: center;
}

.top > img {
	height: 70px;
	width: 70px;
	display: inline-block;
}

.top > h1 {
	font-size: 50px;
	display: inline-block;
}

#main {
	display: flex;
	justify-content:center;
	align-items:center;
	border: 1px solid black;
}

#main > img {
	margin: 10px;
	transition: ease-out 0.25s;
	height: 10%;
	width: 10%;
}

#main > img:hover {
	height: 20%;
	width: 20%;
}

#main:has(> img:hover) {
	transition: ease-out 0.25s;

	border-left-style: dotted;
	border-right-style: dotted;
	border-radius: 5px;
}

@font-face {
	font-family: "StarWars";
	src: url(fonts/Trade\ Gothic\ LT\ Std\ Bold\ No.\ 2.otf);
}

#text-indicator {
	font-size: 45px;
	margin-top: 20px;
	font-family: "StarWars";
}
